# Supabase
SUPABASE_URL=SUA_URL_SUPABASE
SUPABASE_KEY=SUA_CHAVE_ANON_SUPABASE

# JWT
JWT_SECRET=SEU_SEGREDO_SUPER_SECRETO_PARA_JWT

# Server
PORT=3001

# External APIs
GLPI_API_URL=SUA_URL_API_GLPI
GLPI_API_TOKEN=SEU_TOKEN_GLPI

ZABBIX_API_URL=SUA_URL_API_ZABBIX
ZABBIX_USER=SEU_USER_ZABBIX
ZABBIX_PASSWORD=SUA_SENHA_ZABBIX

MICROSOFT_GRAPH_TENANT_ID=SEU_TENANT_ID
MICROSOFT_GRAPH_CLIENT_ID=SEU_CLIENT_ID
MICROSOFT_GRAPH_CLIENT_SECRET=SEU_CLIENT_SECRET
